@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200&display=swap');



.cartesService {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color:var(--dark);


}

.carteService {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 680px;
  padding:1%;
  margin: 1%;
  border:1px solid rgb(253, 253, 253);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  border-radius: 8px;
}
.nameService{
  color: var(--secondary-color) ;
  font-weight: bold;
} 
 .titleService{
   text-align: center;
   font-size:32px;
   font-family: 'Parisienne', cursive;
  } 
.imageService{
    border-radius:5px;
    height: 200px;
    width: auto;
} 
.descriptionService{
  display: flex;
  color:var(--dark);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  } 

.servicePresta{
  margin-left:5%;
} 
.filterCategory{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  margin:1%;
} 

.filterButtons{
  display: flex;
  flex-direction: row;
  margin:1%;
} 
.filterButton{
  color :var(--secondary-color);
  margin:1%;
} 

@media screen and (max-width: 700px) {
  
      
      .carteService {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin: 3%;
      
      
      }
      .imageService{
        border-radius:5px;
        height: auto;
        width: 80%;
    } 

}
