

.Contact-M {
  margin-bottom: 32px;
  color: var(--dark);

}

.form-inputContact {
  color: var(--dark);
  width: 550px;
  border: 1px solid var(--dark);
  border-top: none;
  border-right: none;
  padding:1%;
  padding-bottom: 16px;
  padding-left: 16px;

}
.scroll::placeholder {
  color: var(--dark);
  font-weight: bold;
} 

/* ::placeholder{
color:black;
}  */
.scroll{
  height: 100px;
  font-weight: bold;
  font-size: 14px;


} 
.form-inputContact::placeholder {
  color: var(--dark);
  font-weight: bold;
}

.titleContact {
  font-family: var(--main-font);
  font-size:32px;
  margin-bottom:50px;
}
textarea{ resize: none;
} 

.submitContact {
  cursor: pointer;
  background-color: var(--secondary-color-light);
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
 font-weight: bold;
 margin-top:45px;
 margin-bottom:80px;

  border: none;
  font-size: 14px;
}

@media screen and (max-width:1568px){
  .form-inputContact {
    color: var(--dark);
    width: 430px;
    
  
  }

}

@media screen and (max-width:1268px){
  .form-inputContact {
    color: var(--dark);
    width: 350px;
  }
  .Contact-M {
    margin-bottom: 22px;
   
  
  }

}
@media screen and (max-width:1000px){
  .form-inputContact {
    color: var(--dark);
    width: 80%;
  }
  .Contact-M {
    margin-bottom: 22px;
   
  
  }

}
@media screen and (max-width:500px){
  .form-inputContact {
    color: var(--dark);
    width: 90%;
  }
  }

