.carteShop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top:2%;
  margin-bottom:2%;
  padding: 8px;
  background-color: var(--light-color);
  border: 1px solid rgb(253, 253, 253);

  }

  .cartesShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: var(--dark);
    min-height: calc(100vh - (254px + 200px + 46px + 25px + 50px));
  }
  .shopcart{
    margin-top:50px;
  } 

  .shopDescription{
    display: flex;
     flex-direction: column;
     justify-content: space-between;
     min-height: 250px;
     padding:7px 0 0px 28px;
     position:relative; 
 
   } 
   .nameShop{
    color: var(--dark);
    font-size: 32px;
    margin:0;
   } 

  .imageShop{
    object-fit: cover;

    height: 250px;
    width: 250px;
  } 

  .imageShopLign{
    width: auto;
    height: auto;
    position: relative;
    margin-left: 0;

  } 
  /* .imageShopLign::after, */
  .imageShopLign::before {
    position: absolute;
    height: 100%;
    content: "";
    width: 100%;
    padding: 20px 0px;
  }
  
  .imageShopLign::before {
    border: 1px solid rgb(88, 87, 87);
    padding: 0;
    bottom: -4px;
    right: -10px;
    height: 270px;
    width: 275px;
  }

  .descriptionProduct{
    font-size: 16px;
  }

.btnPanierShop,
.suppBtn{
    width: 180px;
} 

.BtnFlex{
    display: flex;
    flex-direction: column;
} 

.priceShop{
    position: absolute;
    bottom:-32px;
    right:15px;
    font-family: var(--secondary-font);
    font-weight: 700;
    color:var(--dark);
    font-size: 28px;
} 

@media screen and (max-width: 1754px) {
    
  .cartesShop {
    flex-direction: column;
  }

  .carteShop {  
    align-items: center;
    width: 700px;
  }
}

@media screen and (max-width: 838px) {
.carteShop {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  width:80%;
  margin: 3%;
}
.cartesShop {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.descriptionProduct {
  margin-top:0;
  margin-bottom:0;
}

.imageShop {
  height: 250px;
  width: 300px;
}

.imageShopLign::after {
  display: none;
}
.imageShopLign::before {
  display: none;
}
}
@media screen and (max-width: 568px) {
.carteShop {
  width:90%;
}
.cartesShop {
  width:90%;
  margin-left:auto;
  margin-right:auto;
}


.imageShop {
  height: 250px;
  width: 250px;
}

}
