.carteShop {

    width: 640px;
    padding: 8px;
    margin-bottom:4px;
    background-color: var(--light-color);
    border: 1px solid rgb(253, 253, 253);
  }

  .shopDescription{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:28px;

  } 
  .nameShop{
      font-size: 26px;
      margin:0;
  } 


  .cartesShop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--dark);
  }

  .imageShop{
    height: 250px;
    width: 250px;
  } 

  .imageShopLign{
    width: auto;
    height: auto;
    position: relative;
    margin-left: 0;

  } 
  .imageShopLign::after,
  .imageShopLign::before {
    position: absolute;
    height: 100%;
    content: "";
    width: 100%;
    padding: 20px 0px;
  }
  
  .imageShopLign::before {
    border: 1px solid rgb(88, 87, 87);
    padding: 0;
    bottom: -4px;
    right: -10px;
    height: 270px;
    width: 275px;
  }


.btnPanierShop{
    width: 180px;
    background-color: var(--secondary-color-light);
    color:white;
    padding:10px;
    border: none;
    font-size:16px;
    font-weight: bold;
} 

.BtnFlex{
    display: flex;
    flex-direction: column;
} 

.descriptionPrice{
    display: flex;
    align-items: center;
} 