.boxPicture {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

.pictureAndform {
  padding: 2%;
}
.formRdv {
  margin: 10px;
}
.imageRdv {
  width: 450px;
}

.titleRdv {
  text-align: center;
  margin: 5%;
}

.mainForm {
  display: flex;
  flex-direction: column;
}

.labelFormRDV {
  width: 150px;
  float: left;
}

.submitRDV {

  width: 140px;
  margin:4%;

  margin-left:auto;
  margin-right: auto;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 760) {
}
