.flexBackNext {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.notices {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
  height: auto;
}
.back,
.next {
  background: white;
  width: 60px;
  margin-top: 80px;
  border: none;
}

.carouselComment {
  margin-bottom: 50px;
}
.noticeNamePostalCode{
  color: var(--secondary-color-light);
  margin-top:50px;
} 

@media screen and (max-width: 1068px) {
  .notices {
    width: 100%;
    margin-top: 10px;
    height: 300px;
  }
}

@media screen and (max-width: 568px) {
  .notices {
    width: 100%;
    margin-top: 10px;
    height: 450px;
  }
}
@media screen and (max-width: 400px) {
  .notices {
    width: 100%;
    margin-top: 10px;
    height: 550px;
  }
}
