h2 {
  font-size: 2.1em;
  position: relative;
  width: 30%;
  z-index: 0;
  padding: 20px;
  padding-left: 7.5%;
}
.Homeabout {
  width: 15%;
}
.notice {
  width: 25%;
  margin-top: 50px;
}

h2::after,
h2::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
}

h2::before {
  border: 1px solid rgb(88, 87, 87);
  padding: 0;
  bottom: 0px;
  left: calc(50% - 0px);
  transform: translateX(-50%);
}

h2::after {
  background-color: var(--light-color);
  padding: 0;
  top: 5px;
  left: calc(50% + 5px);
  transform: translateX(-50%);
  z-index: -1;
}

.contentAbout {
  position: relative;
  width: 75%;
  height: auto;
  z-index: 0;
  padding: 50px;
  font-size: 1.1rem;
}

.contentAbout::after,
.contentAbout::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
}

.contentAbout::before {
  border: 1px solid rgb(88, 87, 87);
  padding: 0;
  bottom: 5px;
  left: calc(50% - 5px);
  transform: translateX(-50%);
}

.contentAbout::after {
  background-color: var(--light-color);
  padding: 0;
  top: 10px;
  left: calc(50% + 10px);
  transform: translateX(-50%);
  z-index: -1;
}

.homeImgTop {
  width: 100%;
  height: 106vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 130%);
}

.imgHome {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 150%;
  z-index: -1;
}
.imgHome::after,
.imgHome::before {
  position: absolute;
  height: 150%;
  content: "";
  width: 100%;
 
}
.imgHome::after {
   filter: opacity(10%);
  /* opacity:0.1; */
  /* background-color: var(--secondary-color-light) ; */
  background-color: black;

 
}

.alignTitle {
  display: flex;
  height: 70vh;
  border: 1px solid var(--blanc);
  top: 70px;
  position: relative;
}

.titleAcceuil {
  display: flex;
  align-items: center;
  font-size: 5em;
  padding-left: 50px;
  width: 300px;
  margin: 0;
}

.prenezRdv {
  width: 180px;
  height: 75px;
  margin-top: 104px;
  text-align: center;
  background-color: var(--secondary-color-light);
}

.prenezRdv a {
  text-decoration: none;
  color: var(--blanc);
}

.bottonRdvHome {
  margin: 0;
  padding-top: 25px;
  font-family: var(--secondary-font);
  font-size: 18px;
}
.aboutHome {
  position: relative;
  bottom: 160px;
  background-color: var(--light-color);
  width: 200px;
  height: 100px;
  margin-left: 5px;
}

.contentPosition {
  padding-top: 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.imgAboutContent {
  border: 2px solid var(--light-color);
  width: 350px;
  height: 350px;
  position: relative;
  top: 100px;
}

.imgAboutContent .imageAbout {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 1224px) {
  h2 {
    position: relative;
    z-index: 0;
  }

  .Homeabout {
    width: 20%;
  }
  .notice {
    width: 40%;
  }

  .imgAboutContent {
    border: 2px solid var(--light-color);
    width: 250px;
    height: 250px;
    position: relative;
    top: 120px;
  }

  .imgAboutContent .imageAbout {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}

@media screen and (max-width: 868px) {
  h2 {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    padding-left: 20px;
    z-index: 0;
  }

  .contentAbout {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .Homeabout {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .notice {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }

  .contentPosition {
    flex-direction: column;
    position: initial;
  }

  .alignTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
    padding-left: 0px;
    width: 255px;
    margin: 0;
  }
  .homeImgTop {
    width: 100%;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 115%);
  }

  .prenezRdv {
    margin-left: auto;
    margin-right: auto;
  }

  .imgAboutContent {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .imgAboutContent {
    border: 2px solid var(--light-color);
    width: 350px;
    height: 350px;
    position: relative;
    top: 0px;
  }

  .imgAboutContent .imageAbout {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }
}
@media screen and (max-width: 568px) {
  .Homeabout {
    width: 40%;
  }
  .notice {
    width: 80%;
  }
  .imgAboutContent {
    border: 2px solid var(--light-color);
    width: 300px;
    height: 300px;
    position: relative;
    top: 0px;
  }

  .imgAboutContent .imageAbout {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}
