.Contacts{
   
    padding-top:80px;
    margin:10px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.AboutFlex{
  
    margin-top:50px;
   } 

.cartAbout{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    
} 

.ModifyAbout{
    width:90%;
    margin-left:auto;
    margin-right: auto;
} 