.Gift {
  margin-top: 120px;
}

.cartGifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.CartGift {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: 400px;
  height: auto;
  margin: 2%;
}
.imageLogoGift {
  width: 200px;
}

.LignCartGift {
  border: 1px solid var(--light-color);
  width: 90%;
  margin: 2%;
}

.CarouselGift {
  width: 90%;
}
.imageLogoGiftCarousels {
  width: 100%;
  height: 100%;
}

.lignVerticalGift {
  border-left: 1px solid rgb(128, 128, 128);
  display: inline-block;
  height: 280px;
  margin: 6%;
}
.inputGift {
  display: flex;
  margin: 3%;
}
.inputGifts {
  display: flex;
  margin: 2%;
  width: 300px;
}

.inputGiftsImage {
  display: flex;
  margin: 2%;
  width: 200px;
}
.inputGiftsPrice {
  margin: 1%;
  width: 30px;
}
.inputGiftPrices {
  margin: 3%;
}

.submitGift {
  width: 180px;
  margin-top:6%;
  margin-left:18%;
  color: var(--secondary-color-light);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--light-color);
}
.inputGiftsMessage{
  display: flex;
  width:320px;
  margin: 2%;

} 
.main-form-gift{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}  
.inputGiftsImage {
  display: flex;
  margin: 2%;
  width: 290px;
}

@media screen and (max-width: 768px) {

  .cartGifts {
    display: flex;
    flex-direction: column;
    width:80%;
  }
  .CartGift {
    width: 450px;
  }
  .lignVerticalGift {
 display: none;
  }

  .inputGifts {
    display: flex;
    margin: 2%;
    width:380px ;
  }
  
  .inputGiftsImage {
    display: flex;
    margin: 2%;
    width: 360px;
  }
  .inputGiftsPrice {
    margin: 2%;
    width: 50px;
  }


}

@media screen and (max-width: 558px) {
  .main-form-gift .inputGifts{
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }  

  .CartGift {
    width: 300px;
  }

  
  .inputGiftsImage{
    width:93%;
    margin-left: auto;
    margin-right: auto;
  }

  .inputGiftsMessage{
    width:103%;
   
  } 
  .inputGiftsPrice {
    margin: 2%;
    width: 40px;
  }
  .submitGift {
    width: 180px;
    margin-top:6%;
    margin-left:14%;
    color: var(--secondary-color-light);
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--light-color);
  }

}
