

.cartGifts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-top: 50px;

}
.form-inputCommentGift {
  display: block;
  color: var(--dark);
  width: 100%;
  border: 1px solid var(--dark);
  border-top: none;
  border-right: none;
  padding: 1%;
  padding-bottom: 16px;
  padding-left: 16px;
}

.form-inputCommentGift::placeholder {
  color: var(--dark);
  font-weight: bold;
}
.CartGift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: 400px;
  height: auto;
}
.imageLogoGift {
  width: 200px;
}

.LignCartGift {
  border: 1px solid var(--light-color);
  width: 90%;
  margin: 2%;
}


.imageLogoGiftCarousels {
  width: 100%;
  height: 100%;
}

.lignVerticalGift {
  border-left: 1px solid rgb(128, 128, 128);
  display: inline-block;
  height: 280px;
  margin: 6%;
}

.inputGiftsPrice {
  margin: 1%;
  width: 30px;
}
.inputGiftPrices {
  margin: 2%;
  width: 120%;

}
.main-gift{
  width: 120%;
} 

.msgValid{
  color: red;
  margin:2%;
} 

@media screen and (max-width: 1018px) {

  .cartGifts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   
  }
  .main-form-gift{
    width: 400px;
    margin-top:50px;
  } 
  .main-gift{
    width: 380px;
  } 
  

  .lignVerticalGift {
 display: none;
  }




}

@media screen and (max-width: 468px) {
 

  .cartGifts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   
  }
  .CartGift {
    width: 95%;
  }
  .main-form-gift{
    width: 300px;
    margin-top:50px;
  } 
  .main-gift{
    width: 280px;
  } 
  .titleGiftFont{
    font-size: 32px;
  } 
 

}
