.cartesGift {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleGift {
  text-align: center;
  font-size: 32px;
  font-family: "Parisienne", cursive;
  margin-bottom:0;
  margin-top:100px;
}

.pictureGift {
  border-radius: 30px;
  width: 350px;
  /* height: auto; */
  /* margin-top:0;
  padding-top: 0; */
}

.containerGift{
    text-align: center;
    color: rgb(15, 15, 15);
} 
.textGift{
    position: absolute;
    bottom: 8px;
    left: 16px;

} 
.PriceGift{
    text-align: center;
    margin:2%;
} 

.LignGift{
  text-align: center;
    margin-bottom:1%;
    font-weight:bold;
} 