
.cartesService {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: var(--dark);
  min-height: calc(100vh - (254px + 200px + 46px + 25px + 50px));
}


.carteService {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-top:2%;
  margin-bottom:2%;

  padding: 8px;
  background-color: var(--light-color);
  border: 1px solid rgb(253, 253, 253);

}
.nameService {
  color: var(--dark);
  font-size: 32px;
  margin:0;
}
.titleService {
  text-align: center;
  font-size: 32px;
}

.imageService {
  object-fit: cover;

  height: 250px;
  width: 250px;
}

.imageServiceLign {
  width: auto;
  height: auto;
  position: relative;
  margin-left: 0;
}

.imageServiceLign::after,
.imageServiceLign::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  padding: 20px 0px;
}

.imageServiceLign::before {
  border: 1px solid rgb(88, 87, 87);
  padding: 0;
  bottom: -4px;
  right: -10px;
  height: 275px;
  width: 275px;
}

.descriptionService {
  font-size: 16px;
  color: var(--dark);
}

.servicePresta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  padding:7px 0 0px 28px;
  position:relative; 

}

.filterCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding-top: 3%;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  margin: 1%;
}
.filterButton {
  color: var(--secondary-color-light);
  margin: 1%;
  padding: 8px;
}
.filterButtonCategory {
  color: var(--secondary-color-light);
}
.filterButtonCategory {
  border: 1px solid var(--light-color);
  width: 160px;
  border-radius: 5px;
  background: #fff;
  position: relative;
}
.filterButtonCategory select {
  cursor: pointer;

  padding: 5px 8px;
  width: 90%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
}
.filterButtonCategory:after {
  top: 50%;
  left: 85%;
  border: solid transparent;
  content: " ";

  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: var(--secondary-color-light);
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}
.filterButtonCategory select:focus {
  outline: none;
}

.priceService,
.timeService {
  color: rgb(88, 87, 87);
  margin-top: 2%;
  margin-bottom:0;
}
.priceService {
  bottom:-32px;
  right:15px;
  font-family: var(--secondary-font);
  font-weight: 700;
  color:var(--dark);
  font-size: 28px;}

  .timePrice{
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  @media screen and (max-width: 1754px) {
    
    .cartesService {
      flex-direction: column;
    }

    .carteService {  
      align-items: center;
      width: 700px;
    }
  }

@media screen and (max-width: 838px) {
  .carteService {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    width:80%;
    margin: 3%;
  }
  .cartesService {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }

  .descriptionService {
    margin-top:0;
    margin-bottom:0;
  }

  .imageService {
    height: 250px;
    width: 300px;
  }
 
  .imageServiceLign::after {
    display: none;
  }
  .imageServiceLign::before {
    display: none;
  }
}
@media screen and (max-width: 568px) {
  .carteService {
    width:90%;
  }
  .cartesService {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }
 

  .imageService {
    height: 250px;
    width: 250px;
  }
 
}
