.fullHeader {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;

}

.Logo {

  height: 60px;
  width: 100px;
  margin-top:24px;
  margin-left: 24px;
}

.menu-items {
  display: flex;

}
.link {
  font-size: 14px;
  padding: 24px;
  letter-spacing: 1.5px;
}
.router {
  color:black;
  text-decoration: none;
}

.link:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
