.fullHeader {
  width: 100vw;
  /* border: 1px solid black; */
  height: 150px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 250px;
  height: 170px;
  margin: 0;
}

.Links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LinksBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Link {
  padding-left: 32px;
  padding-right: 32px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: black;
}


.router {
  
    text-decoration: none;

}