@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
  font-family: 'Canvas';
  src: local('Font-titre'), url(./assets/Font-titre.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

:root {
  --main-font: "Canvas";
  --secondary-font: "Montserrat" ;
  /* --third-font:; */
  --main-color-font: ;
  --secondary-color-font: ;
  --spacing-medium: calc(var(--spacing) * 2);
  --spacing-large: calc(var(--spacing) * 4);
  --dark: rgb(42,33,37);
  --light-color:rgb(245,223,217) ;
  --secondary-color-light:  rgb(216,138,125);
}

* {
  box-sizing: content-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 .App {
   margin-left: 7.5vw;
   margin-right: 7.5vw;
 }

 h1, h2{
   font-family:var(--main-font);
 } 
 p{
  font-family:var(--secondary-font);

 }  
